* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: black;
    font-size: 2rem;
    margin: 0;
    text-align: center;
}

.flex {
    display: flex;
}

main {
    display: flex;
    height: 60.1rem;
}

main .blue, .bluebox {
    background-color: blue;
}

main .red, .redbox {
    background-color: red;
}

main .green, .greenbox {
    background-color: green;
}

main aside {
    border-right: 5px solid black;
    display: grid;
}

main aside div {
    cursor: move;
}

main aside div, main .drag div {
    height: 10rem;
    margin: 2rem;
    padding: 3rem;
    display: flex;
    align-items: center;
}

main .drag {
    display: grid;
}

main .flex {
    margin: 0 auto;
}

p {
    margin: 0;
}

header p, footer p {
    font-size: 3rem;
    padding: 3rem;
}

header {
    background-color: red;
}

footer {
    background-color: blue;
}

main .drag-over {
    background-color: yellow;
}
